html,
body {
    height: 100%;
}

.imagesblock .col {
    padding: 5px;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/photographer.jpg");
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image-top,
.hero-image-bottom {
    height: 50%;
}

.hero-image-top {
    border-bottom: 2px solid #ffffff;
}

.hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text-top {
    text-align: left;
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-20%, -40%);
    color: white;
}

.hero-text-bottom {
    text-align: right;
    position: absolute;
    top: 40%;
    right: 20%;
    transform: translate(20%, -40%);
    color: white;
}

.footer-links a.nav-link {
    text-align: center;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.owl-prev {
    left: 0rem;
}

.owl-next {
    right: 0rem;
}
