<!doctype html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<%- include('../partials/nav', {filename: 'index'}) %>

<% include ../partials/hero %>

<div class="container imagesblock">
    <div class="row">
        <div class="col">
            <h3>Bilder</h3>
        </div>
        <div class="col">
        </div>
        <div class="col d-none d-sm-block">
        </div>
        <div class="col d-none d-md-block">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img class="img-fluid img-thumbnail" src="https://placehold.it/350x350&text=350er" alt="">
        </div>
        <div class="col">
            <img class="img-fluid rounded" src="https://placehold.it/350x350&text=350er" alt="">
        </div>
        <div class="col d-none d-sm-block">
        </div>
        <div class="col d-none d-md-block">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img class="img-fluid" src="https://placehold.it/350x350&text=350er" alt="">
        </div>
        <div class="col">
            <a href="#" class="btn btn-outline-secondary w-100 h-100">mehr Bilder</a>
        </div>
        <div class="col d-none d-sm-block">
        </div>
        <div class="col d-none d-md-block">
        </div>
    </div>

</div>

<% include ../partials/footer %>

</body>
</html>