<!doctype html>
<html lang="de">
<head>
    <% include ../partials/head %>
</head>
<body>

<div class="hero-image hero-image-top">
    <div class="hero-text-top">
        <h1>Lorem ipsum dolor</h1>
        <p>consetetur sadipscing</p>
    </div>
</div>

<div class="hero-image hero-image-bottom">
    <div class="hero-text-bottom">
        <h1>Lorem ipsum dolor</h1>
        <p>consetetur sadipscing</p>
    </div>
</div>

<% include ../partials/footer %>

</body>
</html>